<div id="<%= dom_id trade_status %>">
  <p>
    <strong>Period:</strong>
    <%= trade_status.period %>
  </p>

  <p>
    <strong>Trade status:</strong>
    <%= trade_status.trade_status %>
  </p>

</div>
