<h1>Editing trade signal</h1>

<%= render "form", trade_signal: @trade_signal %>

<br>

<div>
  <%= link_to "Show this trade signal", @trade_signal %> |
  <%= link_to "Back to trade signals", trade_signals_path %>
</div>
