<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Chart</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Crypto арилжааны автоматжуулсан систем　暗号化販売自動化システム
        </h1>
        <div id="chart-container">
            {{ chart_html | safe }}
        </div>
        <div id="table-container">
            {{ table_data | safe }}
        </div>
    </div>
</body>
</html>
