<div id="<%= dom_id channel %>">
  <p>
    <strong>Support:</strong>
    <%= channel.support %>
  </p>

  <p>
    <strong>Resistance:</strong>
    <%= channel.resistance %>
  </p>

  <p>
    <strong>Channel status:</strong>
    <%= channel.channel_status %>
  </p>

</div>
